@using Case_EntityLayer.Concrete
@using Newtonsoft.Json;
@model List<SurveyAnswer>


@{
    Layout = null;
}

@{
    var jsonData = JsonConvert.SerializeObject(Model);
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <h1>ISTATISTIKSEL RAPORLAR</h1>

    <h5>anket sonuclari icin sayfaya git</h5>
    <a href="/Home/SurveyDetail"><button class="btn btn-success">Sonuclar</button></a>

    <canvas id="myChart" width="400" height="200"></canvas>


    <script>
        var jsonData = @Html.Raw(ViewBag.ChartData);
        var labels = jsonData.map(item => item.Id); 
        var data = jsonData.map(item => item.City); 


        var ctx = document.getElementById('myChart').getContext('2d');



        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Veriler',
                    data: data,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)'
                    ],
                    borderWidth: 1
                }] 

            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>




</body>
</html>
